*{
    font-family: 'Roboto';
}

.header-bg{
    background-image: url(https://ik.imagekit.io/HoneyJoe/Mern%20Batch%2016/Food%20Store/foodmunch-banner-bg.png?updatedAt=1745939013497);
    height: 100vh;
    background-size: cover;
}